<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex" />
		<title>Neverslair Blog new</title>
                <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css' />
                <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css' />
                <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
                <link rel="stylesheet" href="scripts/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
                <script type="text/javascript" src="scripts/jquery.corner.js"></script>
				<!-- as soon as google gets youtube html5 video fixed i can use the next one -->
                <!--script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script-->
                <script type="text/javascript" src="scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
                <script type="text/javascript" src="scripts/custom.js"></script>
	</head>
	<body>
		<!-- ###DOCUMENT_BODY### begin -->
		<div id="wrapper">
			
			<div id="wrapsub">
			
			<div id="header">
				<div id="headcombination">
					<a href="/">
						<img id="upperborder" src="fileadmin/images/upperroundedcorner.png" />
						<img id="headerbanner" src="fileadmin/images/header.jpg" title="Neverslair Blog" />
						
						<header id="headersection">
						
						<hgroup class="banner">
						
						<h1 id="sitename">NEVERSLAIR</h1>
						<h2 id="slogan">All these worlds...</h2>
						
						</hgroup>
						
						</header>
					</a>
				</div>
			</div>
			
			<nav>
			<div id="menu_upper">
				<div id="search">
					<form name="quicksearch" action="search/" method="post" id="tx_indexedsearch_quick">
						<input type="text" name="tx_indexedsearch[sword]" value="" placeholder="Search" id="tx-indexedsearch-searchbox-sword_quick" class="tx-indexedsearch-searchbox-sword sword" /><input type="submit" name="tx_indexedsearch[submit_button]" id="tx-indexedsearch-searchbox-button-submit_quick" class="tx-indexedsearch-searchbox-button submit" value="search" />
					</form>
				</div>
				
				<!-- ###TOPMENU_1### begin -->
				<ul id="topmenu_upper">
					<li><a href="#">News</a></li>
					<li><a href="#">Tutorials</a></li>
					<li><a href="#">Daniel's</a></li>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">Bookmarks</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<!-- ###TOPMENU_1### end -->
				
				<ul id="submenu">
				<!-- ###TOPMENU_2### begin -->
					<li><a href="#">tutorial 1</a></li>
					<li><a href="#">tutorial 2</a></li>
					<li><a href="#">tutorial 3</a></li>
					<li><a href="#">tutorial 4</a></li>
				<!-- ###TOPMENU_2### end -->
				</ul>
			</div>
			</nav>
			
			<div id="content" data-corner="bottom 20px">
			
			<section id="contentsection">
			<div id="body">
				<!-- ###CONTENT### begin -->
				<div id="news_teaser">
					<div class="news_short">
						<h3><a href="#">06.04.2011 - News Title</a></h3>
						<img src="images/typo3-logo.jpg" alt="news title" />
						<h4>A news Subtitle per article...</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum diam vitae metus tempor posuere. Donec sit amet odio nunc. Suspendisse aliquet molestie lacus vel dictum. Duis eu neque tellus, at laoreet sem. Nunc blandit condimentum dui ut dignissim. Duis condimentum scelerisque diam sed molestie. Donec at nisl non sapien posuere pulvinar vel vel enim.<a href="">read more</a></p>
					</div>
					<div class="news_short">
						<h3><a href="#">06.04.2011 - News Title</a></h3>
						<img src="images/typo3-logo.jpg" alt="news title" />
						<h4>A news Subtitle per article...</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum diam vitae metus tempor posuere. Donec sit amet odio nunc. Suspendisse aliquet molestie lacus vel dictum. Duis eu neque tellus, at laoreet sem. Nunc blandit condimentum dui ut dignissim. Duis condimentum scelerisque diam sed molestie. Donec at nisl non sapien posuere pulvinar vel vel enim.<a href="">read more</a></p>
					</div>
					<div class="news_short">
						<h3><a href="#">06.04.2011 - News Title</a></h3>
						<img src="images/typo3-logo.jpg" alt="news title" />
						<h4>A news Subtitle per article...</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum diam vitae metus tempor posuere. Donec sit amet odio nunc. Suspendisse aliquet molestie lacus vel dictum. Duis eu neque tellus, at laoreet sem. Nunc blandit condimentum dui ut dignissim. Duis condimentum scelerisque diam sed molestie. Donec at nisl non sapien posuere pulvinar vel vel enim.<a href="">read more</a></p>
					</div>
					<div class="news_short">
						<h3><a href="#">06.04.2011 - News Title</a></h3>
						<img src="images/typo3-logo.jpg" alt="news title" />
						<h4>A news Subtitle per article...</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum diam vitae metus tempor posuere. Donec sit amet odio nunc. Suspendisse aliquet molestie lacus vel dictum. Duis eu neque tellus, at laoreet sem. Nunc blandit condimentum dui ut dignissim. Duis condimentum scelerisque diam sed molestie. Donec at nisl non sapien posuere pulvinar vel vel enim.<a href="">read more</a></p>
					</div>
					<div class="news_short">
						<h3><a href="#">06.04.2011 - News Title</a></h3>
						<img src="images/typo3-logo.jpg" alt="news title" />
						<h4>A news Subtitle per article...</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum diam vitae metus tempor posuere. Donec sit amet odio nunc. Suspendisse aliquet molestie lacus vel dictum. Duis eu neque tellus, at laoreet sem. Nunc blandit condimentum dui ut dignissim. Duis condimentum scelerisque diam sed molestie. Donec at nisl non sapien posuere pulvinar vel vel enim.<a href="">read more</a></p>
					</div>
					<div class="news_short">
						<h3><a href="#">06.04.2011 - News Title</a></h3>
						<img src="images/typo3-logo.jpg" alt="news title" />
						<h4>A news Subtitle per article...</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum diam vitae metus tempor posuere. Donec sit amet odio nunc. Suspendisse aliquet molestie lacus vel dictum. Duis eu neque tellus, at laoreet sem. Nunc blandit condimentum dui ut dignissim. Duis condimentum scelerisque diam sed molestie. Donec at nisl non sapien posuere pulvinar vel vel enim.<a href="">read more</a></p>
					</div>
					<div id="next"><a href="#">Next page</a></div>
				</div>
				<!-- ###CONTENT### end -->
				<!-- ###SHARE_THIS### begin -->
				&nbsp;
				<!-- ###SHARE_THIS### end -->
			</div>
			</section>
			
			<aside id="sidebar">
			<div id="rightbar">
				
				<!-- ###RIGHT_CONTENT### begin -->
				<div class="teaser">
					<h3>Im Mr. Teaser</h3>
					<img src="fileadmin/images/typo3-logo.jpg" alt="teaser title" />
					<p>i am mister super short teaser slogan...</p>
				</div>

				<div class="teaser">
					<h3>Im Mr. Teaser</h3>
					<img src="fileadmin/images/typo3-logo.jpg" alt="teaser title" />
					<p>i am mister super short teaser slogan...</p>
				</div>
				
				<div class="teaser">
					<h3>Im Mr. Teaser</h3>
					<img src="fileadmin/images/typo3-logo.jpg" alt="teaser title" />
					<p>i am mister super short teaser slogan...</p>
				</div>
				
				<div class="teaser">
					<h3>Im Mr. Teaser</h3>
					<img src="fileadmin/images/typo3-logo.jpg" alt="teaser title" />
					<p>i am mister super short teaser slogan...</p>
				</div>
				<!-- ###RIGHT_CONTENT### end -->
			
			</div>
			</aside>
			
			</div>
			
			<footer id="footerstuff">
			<div id="footmap">
			
				<nav>
				<div id="footmenu">
				<ul>
					<li><h4>Oliver Leitner
					<a href="https://www.youtube.com/user/nevbear666" title="oliver on youtube" target="_blank"><img class="fb_footmenu" src="fileadmin/images/icons/youtube_icon.png" alt="my youtube channel" title="my youtube channel" /></a>
					<a href="skype:intrinso666?call" target="_blank" title="oliver on skype"><img class="fb_footmenu" src="fileadmin/images/icons/skype_icon.png" alt="call me" title="me on skype" /></a>
					<a href="https://plus.google.com/101264080802129898135?rel=author" title="i on google+" target="_blank"><img class="fb_footmenu" src="fileadmin/images/icons/googleplus.png" alt="my google+ account" title="i on google+" /></a>
					<a href="https://www.facebook.com/oleitner" title="oliver on facebook" target="_blank"><img class="fb_footmenu" src="fileadmin/images/icons/facebook_icon.png" alt="contact me" title="contact me" /></a></h4>
					<!-- ###FOOTERMENU_OLIVER### begin -->
						<ul id="first">
							<li><a href="#">News</a></li>
							<li><a href="#">Tutorials</a></li>
							<li><a href="#">Gallery</a></li>
							<li><a href="#">Bookmarks</a></li>
						</ul>
					<!-- ###FOOTERMENU_OLIVER### end -->
					</li>
					<li><h4>Daniel Reznick
					<a href="#" style="display:none;"><img class="fb_footmenu" src="fileadmin/images/icons/skype_icon.png" /></a>
					<a href="#" style="display:none;"><img class="fb_footmenu" src="fileadmin/images/icons/facebook_icon.png" /></a>
					<a href="?id=40" title="contact daniel"><img class="fb_footmenu" src="fileadmin/images/icons/email_icon.png" alt="contact me" title="contact daniel" /></a></h4>
					<!-- ###FOOTERMENU_DANIEL### begin -->
						<ul>
							<li><a href="#">Daniels Dev Corner</a></li>
							<li><a href="#">Daniels Java Tips</a></li>
							<li><a href="#">Magic Bookmarks</a></li>
						</ul>
					<!-- ###FOOTERMENU_DANIEL### end -->
					</li>
					<li><h4>
						<a href="?id=11" title="contact me"><img alt="contact me" class="fb_footmenu" src="fileadmin/images/icons/email_icon.png" title="contact me" /></a>Contact</h4>
					<!-- ###FOOTERMENU_CONTACT### begin -->
						<ul id="last">
							<li><a href="#">Imprint</a></li>
							<li><a href="#">Contact Me!</a></li>
						</ul>
					<!-- ###FOOTERMENU_CONTACT### end -->
					</li>
				</ul>
				</div>
				</nav>
			</div>
			</footer>
			
			<div id="footer">
				<footer>###COPYRIGHT###</footer>
			</div>
			
			</div>
		</div>
<!-- Piwik sitestats start code -->
<script type="text/javascript">
var _paq = _paq || [];
(function(){ var u=(("https:" == document.location.protocol) ? "https://dcdev.ath.cx/" : "http://dcdev.ath.cx/");
_paq.push(['setSiteId', 1]);
_paq.push(['setTrackerUrl', u+'piwik.php']);
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.defer=true; g.async=true; g.src=u+'piwik.js';
s.parentNode.insertBefore(g,s); })();
</script>
<!-- End Piwik sitestats Code -->
<!-- start uservoice.com feedback form -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/Jpz3dygq8ZrUHDhp7hvRg.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<!-- end uservoice.com feedback form -->
		<!-- ###DOCUMENT_BODY### end -->
	</body>
</html>
